# Project exclude paths
/vendor
/node_modules
/public/thumbs/
/public/uploads/
/public/test/
/public/data-site/
/resources/price.xlsx/
.env
.idea/
/composer.lock
.yarn
/resources/price.xlsx
/resources/.last_update
